---
import Layout from '../layouts/Layout.astro';
import Main from "../components/Main.astro"

import Intro from '$components/sections/intro.astro'
import About from '$components/sections/about.astro'
import Education from '$components/sections/education.astro'
import Experience from '$lib/components/sections/experience.astro';
import Skills from '$lib/components/sections/skills.astro';
import Projects from '$lib/components/sections/projects.astro';


import siteData from '$data/config.json'

---

<Layout title={siteData.title}>
		<Main>
			<Intro />
			<About />
			<Education />
			<Experience />
			<Skills />
			<Projects />
		</Main>
</Layout>



